eslintrc.json
prettierrc.json
package.json
package-lock.json
tsconfig.json
CHANGELOG.md
readme.md
nodemon.json
yarn.lock
dist/*
build
public
node_modules
vercel.json

.next/*
next.config.js
postcss.config.js
*.log
pnpm-lock.yaml
pnpm-workspace.yaml
docker-compose.yaml
tailwind.config.ts
components.json